body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #a01f6e;
    line-height: 1.6;
    margin: 0;
    padding: 0; 
    align-items: justify;
}
h1 {
    text-align: center;
    color: #333;
}
/* a {
    color: #cc0981;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
} */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;          
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}
footer a {
    color: #cc0981;
}
footer a:hover {
    text-decoration: underline;
}       
/* Add any additional styles here */