/* % npx @tailwindcss/cli -i ./style.css -o ./output.css --watch */
@import "tailwindcss";

/* outer shadows */
.shadow-sm { box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); }
.shadow-md { box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); }
/* .shadow-2xl { box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); } */

/* inner shadow (only one size) */
/* .shadow-inner { box-shadow: inset 0 px 4px 0 rgba(133, 130, 5, 0.05); } */

@theme{
    /* --breakpoints: {
        'sm': '640px',
        'md': '768px',
        'lg': '1024px',
        'xl': '1280px',
        '2xl': '1536px',
    } */
    --padding-10:100px;
    --margin-10:100px;
    --size-15:60px;
    --padding-c-50:50px;
    --padding-wrapper:20px;
}